@model PegawaiVM

<div class="modal-header bg-transparent">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body pb-5 px-sm-5 pt-50">
    <div class="text-center mb-2">
        <h1 class="mb-1">Tambah Operator</h1>
    </div>
    <form action="/wr/operator/store" method="post" class="row gy-1 pt-75">
        <input type="hidden" asp-for="Pegawai.PegawaiId" />
        <!-- First Row -->
        <div class="col-12 col-md-6">
            <label class="form-label" for="NIK">NIK *</label>
            <input asp-for="Pegawai.NIK" class="form-control" autocomplete="off" required autofocus />
            <span asp-validation-for="Pegawai.NIK" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">NIP</label>
            <input asp-for="Pegawai.NIP" class="form-control" autocomplete="off" />
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label" for="Nama">Nama *</label>
            <input asp-for="Pegawai.NamaPegawai" class="form-control" required />
            <span asp-validation-for="Pegawai.NamaPegawai" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label" style="width:100% !important">Tanggal Lahir</label>
            <input type="date" asp-for="Lahir" placeholder="dd-mm-yyyy" class="form-control dtpicker" style="width:100% !important" />
        </div>
        <!-- Second Row -->
        <div class="col-12 col-md-6">
            <label class="form-label">No HP *</label>
            <input asp-for="Pegawai.NoHP" class="form-control" required />
            <span asp-validation-for="Pegawai.NoHP" class="text-danger"></span>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">Email *</label>
            <input asp-for="Pegawai.Email" class="form-control" required />
            <span asp-validation-for="Pegawai.Email" class="text-danger"></span>
        </div>
        <!-- Alamat Lines / 3rd Row -->
        <div class="col-12">
            <label class="form-label" for="Alamat">Alamat *</label>
            <textarea asp-for="Pegawai.Alamat" rows="2" class="form-control" required></textarea>
            <span asp-validation-for="Pegawai.Alamat" class="text-danger"></span>
        </div>
        <!-- 5th Row / Catatan -->
        <div class="col-12 mb-2">
            <label class="form-label">Catatan</label>
            <textarea class="form-control" rows="2" asp-for="Pegawai.Catatan" placeholder="Catatan mengenai operator"></textarea>
        </div>
        <h4>Wilayah Penugasan</h4>
        <!-- 6th Row / Bidang Penugasan -->
        <div class="col-12 col-md-6">
            <label class="form-label">Bidang Penugasan</label>
            <select id="theBidang" class="form-control" asp-for="Pegawai.BidangId">
                @if (Model.NamaBidang is not null)
                {
                    <option value="@Model.Pegawai.BidangId" selected>@Model.NamaBidang</option>
                }
            </select>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">Kota / Wilayah</label>
            <select id="theKota" class="form-control mySelect">
                @if (Model.NamaKota is not null)
                {
                    <option value="@Model.KotaID" selected>@Model.NamaKota</option>
                }
            </select>
        </div>
        <!-- 7th Row / Kecamatan dan Kelurahan tugas -->
        <div class="col-12 col-md-6">
            <label class="form-label">Kecamatan</label>
            <select id="theKecamatan" class="form-control mySelect" asp-for="Pegawai.KecamatanID">
                @if (Model.NamaKecamatan is not null)
                {
                    <option value="@Model.Pegawai.KecamatanID" selected>@Model.NamaKecamatan</option>
                }
            </select>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">Kelurahan</label>
            <select id="theKelurahan" asp-for="Pegawai.KelurahanID" class="form-control mySelect">
                @if (Model.NamaKelurahan is not null)
                {
                    <option value="@Model.Pegawai.KelurahanID" selected>@Model.NamaKelurahan</option>
                }
            </select>
        </div>
        <div class="col-12 text-center mt-2 pt-50">
            <button type="submit" class="btn btn-success me-1">Submit</button>
            <button type="reset" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Tutup</button>
        </div>
    </form>
</div>